<div fxLayout="column" fxFlexFill>
  <div fxFlex="25" fxFlex.md="15" fxFlex.xs="5"></div>
  <div fxFlex="50" fxFlex.md="70" fxFlex.xs="90">
    <div fxLayout="row" fxFlexFill>
      <div fxFlex="25" fxFlex.xs="15"></div>
      <div
        fxFlex="50"
        fxFlex.md="50"
        fxFlex.xs="70"
        fxFlexFill
        fxLayoutAlign="center center"
      >
        <am-home-validation></am-home-validation>
      </div>
      <div fxFlex="25" fxFlex.xs="15"></div>
    </div>
    <div fxFlex="25" fxFlex.md="15" fxFlex.xs="5"></div>
  </div>
</div>
